<template>
  <div class="letter">
    <h1 id="name">Nombre: {{name}}</h1>
    <p id="age">Edad: {{age}}</p>
    <p id="country">País: {{country}}</p>
    <p id="gender">Género: {{gender}}</p>
  </div>
</template>

<script>
  export default {
    name: 'Letter',
    props: {
      letraDNI: String
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h3 {
    margin: 40px 0 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }
</style>
