<template>
  <div class="textBox">
    <input id="inputDNI" v-model="nombre" placeholder="Introduce el nombre a buscar" @keyup.enter="enviarNombre">
    <button @click="enviarNombre" id="submitDNI">
      Enviar
    </button>
  </div>
</template>

<script>
  export default {
    name: 'TextBox',
    data() {
      return {
        name: null,
      }
    },  
    methods: {
      enviarNombre() {
        this.$emit("emitName", this.name)
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h3 {
    margin: 40px 0 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }
</style>