<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <HelloWorld msg="Estadísticas sobre nombres"/>
    <TextBox @emitName= "getName"/>
    <Statistics/>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import TextBox from './components/TextBox.vue'
import Statistics from './components/Statistics.vue'

export default {
  name: 'app',
  props() {

  },
  components: {
    HelloWorld,
    TextBox,
    Statistics
  },
  methods: {
    this.name
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
